<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ProjectArenda.Properties.Settings.DatabaseConnectionString"
        connectionString="Server=player7004.keenetic.pro;Port=65000;Database=Perevozki;User Id=postgres;Password=Password12345678"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>